:root {
--black: #111;
--radius: 4px;
}

.title{
    margin-left: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 2rem;
}

.slide-container {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #ccc;
  }

.each-slide {
    position: flex;
    overflow: hidden;
    margin: 1.875rem 1.875rem 1.875rem 1.875rem;
    text-align: center;
}

.each-image {
    max-width: 80%;
    max-height: 70%;
    height: auto;
    border-radius: --radius;
}

